<h2>Products</h2>

<div *ngFor="let product of products; let productId = index;">
  <h3>
    <a [title]="product.name + 'の詳細を見る'" [routerLink]="['/products', productId]">
    {{product.name}}
    {{productId}}
    </a>
  </h3>
  <p *ngIf="product.description">詳細：{{product.description}}</p>
  <button (click)="share()">ボタン</button>
  <!-- <app-alert [product]="product"></app-alert> -->
  <app-alert [product]="product" (notify)="onNotify()"></app-alert>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->